{% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}
      
{% extends 'admin_home.html' %}
{% block container %}

<form action = "{{ url_for('admin.add_customer') }}" method = "post">
		<label for="user">Username:</label>
      <input type="text" id="user" name="user"/>
      <label for="pwd">Password:</label>
      <input type="password" id="pwd" name="pwd"/>
      <label for="email">Email:</label>
      <input type="text" id="email" name="email"/>
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" name="firstName"/>
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" name="lastName"/>
      <label for="phone">Phone:</label>
      <input type="number" id="phone" name="phone"/>
      	<p><input type='submit' value ='Create'/></p>
</form>

{% endblock %}