{% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}

{% extends 'agent_home.html' %}
{% block container %}

<h3>Orders:</h3>
{% for order in orders %}
	<b>Order</b>:{{ order.id }}
	<b>Total</b>:{{ order.total }}
	<b>Status</b>:{{ order.status}}
	<b>Paid</b>:{{ order.is_paid }}
   <b>Time</b>:{{ order.time }}
	<br>
{% endfor %}

{% endblock %}