{% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}

{% extends 'agent_home.html' %}
{% block container %}

<h3>Transactions:</h3>
{% for ledgerEntry in ledgerEntries %}
	Time:{{ ledgerEntry.date_time }}
	Amount:{{ ledgerEntry.amount }}
	Balance:{{ ledgerEntry.balance }}
	<br>
{% endfor %}

{% endblock %}